.customButton {
  background-color: var(--primary-color)!important;
  color: white!important;
}

.btnMenu {
  margin-right: 15px!important;
}

.btnMain {
  padding: 15px 85px!important;
  font-size: 1.1rem!important;
  background-color: var(--primary-color)!important;
  color: white!important;
}

.downloadButton {
  padding: 15px 85px!important;
  font-size: 1.1rem!important;
  background-color: var(--success-color)!important;
  color: white!important;
}

.checkButton {
  padding: 15px 85px!important;
  font-size: 1.1rem!important;
  background-color: var(--warning-color)!important;
  color: black!important;
}

.uploadButton {
  padding: 15px 85px!important;
  font-size: 1.1rem!important;
  background-color: var(--background-color)!important;
  color: black!important;
}